<div style="text-align:center">
<h1><a href="" routerLink="">Fachrin Naufal</a></h1>
<h3> 1800016135 </h3>
<img width="90px" alt="Angular Logo" src="assets/uad.jpg">
</div>
<ul>
<li><a href="" routerLink="/praktikum3">Praktikum3</a></li>
<li><a href="" routerLink="/praktikum4">Praktikum4</a></li>
<li><a href="" routerLink="/praktikum5">Praktikum5</a></li>
<li><a href="" routerLink="/praktikum6">Praktikum6</a></li>
<li><a href="" routerLink="/praktikum7">Praktikum7</a></li>
<li><a href="" routerLink="/praktikum8">Praktikum8</a></li>
<li><a href="" routerLink="/praktikum9">Praktikum9</a></li>
<li><a href="" routerLink="/praktikum10">Praktikum10</a></li>
</ul>

<router-outlet></router-outlet>